<div class="one_singup_info">
<% if (!login_success) { %>
     <!-- if (!user) { 주석 사용안됨-->
    <h3>지금 인증안됨_login_success </h3>
    <input type="button" value="가입하기" onclick="location.href='/signup';">
    <input type="button" value="로그인" onclick="location.href='/login'">
    <input type="button" value="아이디/비번찾기" onclick="location.href='main_login.html';">
    
<% } else if (login_success) { %>
    <h3>지금 인증됨_login_success</h3>
    <input type="button" class="btn btn-secondary" value="로그아웃" onclick="location.href='/logout'">
    <input type="button" class="btn btn-secondary" value="개인정보" onclick="location.href='/profile'">
    <% if (user.provider == undefined || user.provider == '') { %>
            <strong>이메일</strong>: <%= user.email %> <strong> / </strong>
            <strong>별명</strong>: <%= user.name %>
        </p>
    <% } else if (user.provider == 'facebook') { %>
        <h3 class="text-primary"><span class="fa fa-facebook"></span> 페이스북 프로필</h3>
            <strong>아이디</strong>: <%= user.facebook.id %><strong> / </strong>>
            <strong>이메일</strong>: <%= user.facebook.email %><strong> / </strong>
            <strong>이름</strong>: <%= user.facebook.name %>
        </p>
    <% } else if (user.provider == 'twitter') { %>
        <h3 class="text-primary"><span class="fa fa-twitter"></span> 트위터 프로필</h3>
            <strong>아이디</strong>: <%= user.twitter.id %><strong> / </strong>
            <strong>이메일</strong>: <%= user.twitter.email %><strong> / </strong>
            <strong>이름</strong>: <%= user.twitter.name %>
        </p>
    <% } else if (user.provider == 'google') { %>
        <h3 class="text-primary"><span class="fa fa-google"></span> 구글 프로필</h3>
            <strong>아이디</strong>: <%= user.google.id %><strong> / </strong>
            <strong>이메일</strong>: <%= user.google.email %><strong> / </strong>
            <strong>이름</strong>: <%= user.google.name %>
        </p>
    <% } else if (user.provider == 'kakao') { %>
        <h3 class="text-primary"><span class="fa fa-kakao"></span> kakao 프로필</h3>
            <strong>아이디</strong>: <%= user.kakao.id %><strong> / </strong>
            <strong>name</strong>: <%= user.name %><strong> / </strong>
            <strong>nickname</strong>: <%= user.properties.nickname %>
        </p>      
    <% } %>
<% } %>
</div>
    <div class="navbar navbar-expand-md navbar-dark bg-dark mb-4" role="navigation">
        <a class="navbar-brand" a href="#" onclick="location.href='/'">COSMOS X</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" a href="#" onclick="location.href='/';">Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="location.href='news.html';" target="_blank">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" target="_blank">자유게시판</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Dropdown1</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown1">
                        <li class="dropdown-item" href="#"><a>Action 1</a></li>
                        <li class="dropdown-item dropdown">
                            <a class="dropdown-toggle" id="dropdown1-1" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">Dropdown1.1</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown1-1">
                                <li class="dropdown-item" href="#"><a>Action 1.1</a></li>
                                <li class="dropdown-item dropdown">
                                    <a class="dropdown-toggle" id="dropdown1-1-1" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">Dropdown1.1.1</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdown1-1-1">
                                        <li class="dropdown-item" href="#"><a>Action 1.1.1</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" target="_blank">노드팀정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" target="_blank">블로체인정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" target="_blank">공지사항</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" target="_blank"> Info</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>