<!doctype html>
<html lang="ko">

<head>
    <% include ../head.ejs %>
    <script type="text/javascript">
        var errorMsg = '<%= errorMsg %>';
        if (errorMsg && errorMsg.length !== 0) {
            alert(errorMsg);
        }
    </script>
</head>

<body>
    <div class="one">
        <div class="two">
            <% include ../menubar_basic.ejs %>
            <div class="container-fluid">
                <div class="row">
                    <div class="topmain_full_one col-lg-12 col-sm-12">
                        <div class="row ">
                            <div class="main_board_full_one_login col-lg-12 col-sm-12">
                                <!--본문 내용-->
                                <div class="row">
                                    <p>프레임분할을 위한 class</p>
                                    <div class="main_board_one_login col-lg-12 col-sm-12">
                                        <p>자유게시판 - 글보기</p>
                                            <br>
                                        <div class="col-md-12 login-form-1">
                                            <h4>제목</h4>
                                            <div class="form-group">
                                                <%= board.title %>
                                            </div>

                                            <h4>내용</h4>
                                            <div class="form-group">
                                                <%- board.contents %>
                                            </div>

                                            <h4>작성자</h4>
                                            <div class="form-group">
                                                <%= board.username %>
                                            </div>

                                            <h4>생성일</h4>
                                            <div class="form-group">
                                                <%= board.createdAt %>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="button" class="btn btn-outline-info" onclick="location.href = '/free_board/like/<%= board.id %>'">좋아요 (<%= board.likeCount %>)</button>
                                            <button type="button" class="btn btn-outline-danger" onclick="location.href = '/free_board/hate/<%= board.id %>'">싫어요 (<%= board.hateCount %>)</button>
                                        </div>
                                        <div class="form-group">
                                            <% if (board.isUnKnownWriter) { %>
                                                <button type="button" class="btn btn-primary" onclick="location.href = '/free_board/update/<%= board.id %>'">수정</button>
                                                <form action="/free_board/delete/<%= board.id %>" method="get">
                                                    <input maxlength="5" type="password" id="password" name="password" placeholder="비밀번호를 입력해주세요." />
                                                    <button type="submit" class="btn btn-danger">삭제</button>
                                                </form>
                                            <% } %>
                                            <% if (board.isOwner) { %>
                                                <button type="button" class="btn btn-primary" onclick="location.href = '/free_board/update/<%= board.id %>'">수정</button>
                                                <button type="button" class="btn btn-danger" onclick="location.href = '/free_board/delete/<%= board.id %>'">삭제</button>
                                            <% } %>
                                            <button type="button" class="btn btn-light" onclick="history.back();">뒤로</button>
                                        </div>
                                        <% if (board.isUseComments) { %>
                                            <% if (isAuth) { %>
                                                <div class="form-group">
                                                    <form action="/free_board/comment/<%= board.id %>" method="post" class="form-inline">
                                                        <input maxlength="200" style="width: 50%" class="form-control" type="text" id="comment" name="comment" placeholder="댓글을 입력해주세요. (최대 200자)" />
                                                        <button type="submit" class="btn btn-primary">입력</button>
                                                    </form>
                                                </div>
                                            <% } %>
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th scope="col" width="10%">작성자</th>
                                                    <th scope="col" width="60%">내용</th>
                                                    <th scope="col" width="20%">작성날짜</th>
                                                    <th scope="col" width="10%">삭제</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <% for (comment of board.comments) { %>
                                                <tr>
                                                    <td><%= comment.writer.name %></td>
                                                    <td><%= comment.contents %></td>
                                                    <td><%= comment.created_at_format %></td>
                                                    <td>
                                                        <% if (sessionUserId == comment.writer._id) { %>
                                                            <button type="button" class="btn btn-danger" onclick="location.href = '/free_board/comment/delete/<%= board.id %>/<%= comment.id %>'">삭제</button>
                                                        <% } %>
                                                    </td>
                                                </tr>
                                                <% } %>
                                                </tbody>
                                            </table>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gang">
        광고페이지
    </div>
    <footer>
        <% include ../footer.ejs %>
    </footer>
</body>

</html>